<div class="container">
    <form #commentForm="ngForm" method="post" novalidate>
        <div class="row " style="margin-top: 50px">
            <div class="col-md-6 col-md-offset-3 form-container">
                <h2>Feedback</h2>
                <p> Please provide your feedback below: </p>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>How do you rate your overall experience?</label>
                        <p>
                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="BAD" [(ngModel)]="commentFormData.experience">
                                Bad
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="AVERAGE" [(ngModel)]="commentFormData.experience">
                                Average
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="experience" id="radio_experience" value="GOOD" [(ngModel)]="commentFormData.experience">
                                Good
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="comments"> Comments:</label>
                        <textarea class="form-control" type="textarea" name="comments" id="comments" placeholder="Your Comments"
                            maxlength="6000" rows="7" #comments="ngModel" [(ngModel)]="commentFormData.comment"
                            required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name"> Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="commentFormData.name"
                            required (keypress)="checkAlphabets($event)">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email"> Email:</label>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="email"
                            name="email" #name="ngModel" [(ngModel)]="commentFormData.email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="button" [disabled]="!commentForm.form.valid" class="btn btn-lg btn-warning btn-block"
                            (click)="saveCommentData()">Post
                        </button>
                        <button type="button" class="btn btn-lg btn-success btn-block"
                            (click)="resetCommentData()">New Comment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="alert alert-success alert-dismissible success" *ngIf="isSuccess" >
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{successMessage}}
  </div>
  
  <div class="alert alert-danger alert-dismissible error" *ngIf="isError">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Error!</strong> {{errorMessage}}
  </div>